#bcg{
    width: 100%;
    top: 0;
    left: 0;
}

.image{
    position: absolute;
    top: 30px;
    left: 40px;
    margin: 200px 50px;
    border: 20px inset rgb(130, 28, 194);
}
h2{
    font-size: 40px;
    top: 30px;
    left: 160px;
    position: absolute;
    margin: 200px 300px;
    background-color: rgb(130, 28, 194);
    border: 20px inset rgb(130, 28, 194);
    width: 400px;
    height: 335px;
    
    
}
a{
    position: absolute;
    font-size: 30px;
    font-variant: small-caps;
    color: rgb(255, 153, 0);
    border: solid 6px;
    border-radius: 20px;
    padding: 2px 7px 2px 7px ;
    background-color: rgb(105, 112, 144);
    top: 50px;
    left: 30px;
    margin: 20px 740px;

}
p{
    position: absolute;
    top: 50px;
    left: 30px;
    margin: 300px 470px;
    font-weight: 900;
    font-size: 20px;
}

